.card{
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card img{
    height: 250px;
    width: 100%;
    object-fit: contain;
    padding: 15px;
}

.card-body{
    text-align: center;
}